body {
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 10px;
}

.signDiv {
    padding-top: 20px;
    margin: 0 auto;
    align-content: center;
    width: 300px;
}

.authorImg {
    margin: 8px;
}

.sayForm {
    width: 250px;
    margin-bottom: 10px;
}

.menuDiv {
    text-align: center;
    width: 300px;
    margin-bottom: 10px;
}

.menuRight {
    line-height: 33px; /*让黄色div中的文字内容垂直居中*/
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    visibility: hidden;
}

.timeDiv {
    position: fixed;
    right: 10px;
    top: 50px;
    width: auto;
}

.message-div {
    margin-right: 15px;
}

.translationSpan {
    background-color: #79bbff;
    -moz-border-radius: 28px;
    -webkit-border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 11px;
    text-decoration: none;
}

.userDiv {
    border-width: 2px;
    border-style: groove;
    border-color: #79bbff;
    width: 340px;
}

