<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>努努和菜菜的后花园</title>
    {% endif %}

    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/style.css?version=1" rel="stylesheet">

    <script src="http://momentjs.cn/downloads/moment-with-locales.js"></script>
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../static/js/microblog.js?version=1" charset="utf-8" type="text/javascript"></script>

</head>

<body>

<div class="menuDiv">
    <ul class="nav nav-pills" id="ulList">
        <li class="active"><a href="/">{{ _('Home') }} </a></li>
        {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('user',nickname=current_user.nickname ) }}">{{ _('Your Proofile') }}</a></li>
            <li><a href="{{ url_for('logout') }}">{{ _('Logout') }}</a></li>
        {% endif %}


    </ul>

</div>


<div class="timeDiv">
    <p
            class="label label-danger menuRight"
            data-container="body" data-toggle="popover" data-placement="bottom"
            data-content="你看，这么多人，这么大的世界，我遇到了你，你也遇到了我，真好。">
        Smile</p>
</div>

{% with  messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissable message-div">
                <button type="button" class="close" data-dismiss="alert"
                        aria-hidden="true">
                    &times;
                </button>
                {{ message }}
            </div>

        {% endfor %}
    {% endif %}
{% endwith %}




{% block content %}

{% endblock %}


</body>
</html>

