<html>
<head>
    <meta charset="UTF-8">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>努努和菜菜的后花园</title>
    {% endif %}

    <script src="http://momentjs.cn/downloads/moment-with-locales.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="../static/js/microblog.js"></script>
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
</head>

<body>

<div class="menuDiv">
    <a class="menuButton" href="/">{{ _('Home') }}</a>
    {% if current_user.is_authenticated %}
        <a class="menuButton" href="{{ url_for('user',nickname=current_user.nickname ) }}">{{ _('Your Proofile') }}</a>
        <a class="menuButton" href="{{ url_for('logout') }}">{{ _('Logout') }}</a>
    {% endif %}
</div>

{% with  messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li> {{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

{% block content %}

{% endblock %}


</body>
</html>

