{% extends "base.html" %}

{% block content %}

    <audio id="bgMusic">
        <source src="../static/mp3/18.mp3" type="audio/mp3">
    </audio>

    <div style="padding-top: 10px;padding-bottom: 10px">

        <form class="bs-example bs-example-form" role="form" action="" method="post" name="post">

            <div class="input-group sayForm">
                {{ form.post(class='form-control',placeholder="说点什么?") }}

                <span class="input-group-btn">
						<button class="btn btn-default" type="submit">发射!</button>
				</span>
            </div>
        </form>
    </div>

    <div id="post_list">
        {% for post in posts.items %}
            {% include 'post.html' %}
        {% endfor %}
    </div>


    {# has_next：如果在目前页后至少还有一页的话，返回 True
    has_prev：如果在目前页之前至少还有一页的话，返回 True
    next_num：下一页的页面数
    prev_num：前一页的页面数#}

    <ul style="text-align:left" class="pager">
        {% if posts.has_prev %}
            <li><a href="{{ url_for('index',page = posts.prev_num) }}">&larr; 上一页</a></li>
        {% else %}
            <li class="disabled"><a>&larr; 上一页</a></li>
        {% endif %}

        {% if posts.has_next %}
            <li><a href="{{ url_for('index',page=posts.next_num) }}">下一页 &rarr;</a></li>
        {% else %}
            <li class="disabled"><a>下一页 &rarr;</a></li>
        {% endif %}
    </ul>

    <script>
        function is_update() {
            $.ajax('/get_fist_post', {dataType: 'json'})
                    .done(function (data) {
                                {#                                original = $('#post' +{{posts.total}}).text();#}
                                original = "{{ posts.items[0].body }}"
                                originalAuthor = data['author'];
                                newauthor = "{{ current_user.nickname }}";
                                newpost = data['body'];
                                console.log('new:' + newpost + 'ofigin:' + original + 'length:' +{{posts.total}});

                                if (original != newpost && originalAuthor != newauthor) {
                                    $('title').text('---有新消息啦---' + "{{ title }}");
                                    var audio = document.getElementById("bgMusic");
                                    audio.play();
                                    clearInterval(fader)
                                }
                            }
                    )
        }
        var fader = setInterval(is_update, 500)


    </script>

{% endblock %}

