{% extends "base.html" %}
{% block content %}


    <div style="padding-top: 10px;padding-bottom: 10px">

        <form class="bs-example bs-example-form" role="form" action="" method="post" name="post">

            <div class="input-group sayForm">
                {{ form.post(class='form-control',placeholder="说点什么?") }}

                <span class="input-group-btn">
						<button class="btn btn-default" type="submit">发射!</button>
				</span>
            </div>

        </form>
    </div>

    {% for post in posts.items %}
        {% include 'post.html' %}
    {% endfor %}

    {# has_next：如果在目前页后至少还有一页的话，返回 True
    has_prev：如果在目前页之前至少还有一页的话，返回 True
    next_num：下一页的页面数
    prev_num：前一页的页面数#}

    <ul style="text-align:left" class="pager">
        {% if posts.has_prev %}
            <li><a href="{{ url_for('index',page = posts.prev_num) }}">&larr; 上一页</a></li>
        {% else %}
            <li class="disabled"><a>&larr; 上一页</a></li>
        {% endif %}

        {% if posts.has_next %}
            <li><a href="{{ url_for('index',page=posts.next_num) }}">下一页 &rarr;</a></li>
        {% else %}
            <li class="disabled"><a>下一页 &rarr;</a></li>
        {% endif %}
    </ul>

{% endblock %}

