<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}

    <h1>Sign In</h1>
    <form action="" method="post" name="login">
        {{ form.hidden_tag() }}
        <p>
            Nickname:<br>
            {{ form.nickname(size =40) }}<br>

            Password:<br>
            {{ form.password(size =40) }}<br>

        </p>
        {% for error in form.errors.password %}
            {{ error }}
        {% endfor %}

        <p>{{ form.remember_me }} Remember Me</p>

        {{ form.sign_in() }}
        {{ form.register() }}

    </form>
{% endblock %}