<table>
    <tr valign="top">
        <td><img class="authorImg" src="{{ post.author.avatar }} " width="80" height="80"></td>
        <td>
            <b>{{ post.author.nickname }} </b>
            <br>
            <font size="2px" color="#a9a9a9"> {{ momentjs(post.timestamp).fromNow() }}</font>
            <br>
            <div><span id="post{{ post.id }}">{{ post.body }}</span></div>

        </td>
        <th>
            <div>
                <span id="translation{{ post.id }}">
                    <a class="translationSpan" href="javascript:translate(
                    '#post{{ post.id }}',
                    '#translation{{ post.id }}'
                    )"
                    >
                        {{ _('Translate') }}</a>
                </span>
            </div>
        </th>
    </tr>
</table>